.navbar {
    z-index: 1000;
    box-shadow: var(--box-shadow);
    background-color: var(--background);
    color: var(--on-background);
    height: 75px;
    display: block;
}

.button {
    color: var(--on-secondary);
    background: var(--secondary-color);
}